<div th:fragment="projectContent">
	<style>
	   .dev_image{
		background-color: antiquewhite;
		margin: 0 auto;
		width:140px;
		height: 180px;
		text-align: center;
		padding: 20px;
		margin-top: 20px;
		margin-bottom: 10px;
	   }
	   .t_dev{
		text-align: center;
	   }
	   table{
		margin-top:20px;
		background-color: aqua;
		width: auto;
		margin:0 auto;
	   }
		.icon{
		background-color: antiquewhite;
		width: 30px;
		height: 30px;
	   }
	   .big_icon{
	   background-color: antiquewhite;
	   width: 50px;
	   height: 50px;
	   }
	   .dev_name{
		text-align: center;
		font-family: "Source Sans Pro", sans-serif;
		font-size: 30px;
		font-weight: 600;
		color: #676a6d;
		padding: 30px;
	   }
	   .t_dev table th{
		padding: 3px;
	   }
	   .t_dev table td{
		margin-left:30px;
	   }
	   .dev_info th{
		padding-left: 20px;
	   }
	   .info{
		display: block;
		background-color: #676a6d;
		margin:0 auto;
		width: 550px;
		height: 150px;
		border-radius: 10px;
	   }
	</style>
    <!-- 화면 제목 -->
    <div class="row">
        <div class="col-md-12">
            <h2>開発者検索</h2>
        </div>
    </div>

    <br>

    <!-- 검색 조건 -->
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">検索条件</h3>
                </div>

                <div class="panel-body">

                    <form action="#" method="get">
						<div class="row">
							<div class="dev_image">
								<input type="image" vlaue="">
							</div>
						</div>
						<div class="t_dev">
							<table>
								<colgroup width="800px;">
									<col style="width:10%">
									<col style="width:15%">
									<col style="width:10%">
									<col style="width:15%">
									<col style="width:10%">
									<col style="width:15%">
								</colgroup>
								<tr>
								   <th colspan="6" class="dev_name">ジン　リス</th>
								</tr>
								<tr>
									<th><input type="image" class="icon" style="margin-left: 30px;"></th>
								    <th>女性</th>
									<th><input type="image" class="icon"></th>
								    <th>1997年3月14日</th>
									<th><input type="image" class="icon"></th>
								    <th>韓国　青洲市</td>
								</tr>
								<tr>
									<th><input type="image" class="icon" style="margin-left: 30px;"></th>
								    <th>010-1234-1234</th>
									<th><input type="image" class="icon"></th>
								    <th>jrs8975@naver.com</th>
								</tr>
							</table>
						</div>
						<div class="dev_info">
							<table>
								<colgroup width="800px;">
									<col style="width:5%">
									<col style="width:20%">
									<col style="width:20%">
									<col style="width:50%">
								</colgroup>
							
								<tr>
									<th colspan="2" style="font-size: 20px;padding: 20px;margin-left:5px;">
										学歴
									</th>
								</tr>
								<tr>
									<th><input type="image" class="big_icon" style="margin-left: 30px;"></th>
								    <th>JSL人材開発院</th>
								    <th>WEB　開発</th>
								</tr>
								<tr>
									<th></th>
									<th>卒業</th>
									<th>2025.05~2026.02</th>
								</tr>
								<tr>
									<th colspan="2" style="font-size: 20px;padding: 20px;margin-left:5px;">
										経歴
									</th>
								</tr>
								<tr>
									<th><input type="image" class="big_icon" style="margin-left: 30px;"></th>
								    <th>職務</th>
								    <th>バックエンド</th>
								</tr>
								<tr>
									<th></th>
								    <th>経歴</th>
								    <th>1年</th>
								</tr>
								<tr>
									<th></th>
								    <th>スキル</th>
								    <th>java</th>
								</tr>
								<tr>
									<th></th>
								    <th></th>
								    <th>Javascript</th>
								</tr>
								<tr>
									<th></th>
								    <th></th>
								    <th>Oracle</th>
								</tr>
								<tr>
									<th></th>
								    <th>会社名</th>
								    <th>(株)キャル</th>
								</tr>
								<tr>
									<th colspan="2" style="font-size: 20px;padding: 20px;margin-left:5px;">
										資格証
									</th>
								</tr>
								<tr>
									<th><input type="image" class="big_icon" style="margin-left: 30px;"></th>
								    <th>資格証名</th>
								    <th>情報処理産業</th>
								</tr>
								<tr>
									<th></th>
								    <th>取得日</th>
								    <th>2025年3月</th>
								</tr>
								<tr>
									<th></th>
								    <th>取得機関</th>
								    <th>韓国産業人力公団</th>
								</tr>
									<th colspan="2" style="font-size: 20px;padding: 20px;margin-left:5px;">
										プロジェクト経歴
									</th>
								</tr>
								<tr>
									<th><input type="image" class="big_icon" style="margin-left: 30px;"></th>
								    <th>プロジェクト概要</th>
								    <th>開発者SNS</th>
								</tr>
								<tr>
									<th></th>
								    <th>担当</th>
								    <th>チーム長</th>
								</tr>
								<tr>
									<th></th>
								    <th>期間</th>
								    <th>2025/11/15~2025/12/15</th>
								</tr>
								<tr>
									<th colspan="2" style="font-size: 20px;padding: 20px;margin-left:5px;">
										自己紹介
									</th>
								</tr>
								<tr>
									<td colspan="4" style="text-align: center;">
										<textarea class="info" readonly>
										자기소개 내용
										</textarea>
									</td>
								</tr>
							</table>
						</divclass>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
   