<div th:fragment="projectContent">
	<style>
	   .dev_image{
		background-color: antiquewhite;
		margin: 0 auto;
		width:140px;
		height: 180px;
		text-align: center;
		padding: 20px;
		margin-top: 20px;
	   }
	   .t_dev{
		text-align: center;
	   }
	   table{
		margin-top:20px;
		background-color: aqua;
		width: 800px;
		margin:0 auto;
	   }
	   
	   table th, table td{
		text-align: center;
		padding: 20px;
		
	   }
	   .icon{
		background-color: antiquewhite;
		width: 30px;
		height: 30px;
	   }
	   .dev_name{
		font-family: "Source Sans Pro", sans-serif;
		font-size: 15px;
		font-weight: 600;
		color: #676a6d;
	   }
	</style>
    <!-- 화면 제목 -->
    <div class="row">
        <div class="col-md-12">
            <h2>開発者検索</h2>
        </div>
    </div>

    <br>

    <!-- 검색 조건 -->
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">検索条件</h3>
                </div>

                <div class="panel-body">

                    <form action="#" method="get">
						<div class="row">
							<div class="dev_image">
								<input type="image" vlaue="">
							</div>
						</div>
						<div class="t_dev">
							<table>
								<tr class="dev_name">
								    ジン　リス
								</tr>
								<tr>
									<th><input type="image" class="icon"></th>
								    <td>女性</td>
								</tr>
							</table>
						</div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
   